shared/n8n-workflows/crm-automations.json
[
  {
    "name": "CRM-1: Yeni Müşteri Bildirimi",
    "active": true,
    "nodes": [
      {
        "id": "f1a2b3c4-0001-0001-0001-000000000001",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          250,
          300
        ],
        "webhookId": "crm-new-customer-v1",
        "parameters": {
          "httpMethod": "POST",
          "path": "crm/new-customer",
          "responseMode": "onReceived",
          "options": {}
        }
      },
      {
        "id": "f1a2b3c4-0001-0001-0001-000000000002",
        "name": "Build Message",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          450,
          300
        ],
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              {
                "id": "a1",
                "name": "text",
                "value": "={{ '🎉 <b>Yeni Müşteri!</b>\\n\\n👤 ' + $json.body.name + '\\n📧 ' + $json.body.email + '\\n📦 Plan: ' + $json.body.plan.toUpperCase() + '\\n\\n🔗 <a href=\"https://crm.otomaix.com/musteriler/' + $json.body.account_id + '\">CRM\\'de Görüntüle</a>' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "f1a2b3c4-0001-0001-0001-000000000003",
        "name": "Send Telegram",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          650,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot8604791076:AAGxu_XtypVCcr7fX1HxDlbIceRXbP_8JPY/sendMessage",
          "sendBody": true,
          "specifyBody": "keypair",
          "bodyParameters": {
            "parameters": [
              {
                "name": "chat_id",
                "value": "1634464595"
              },
              {
                "name": "text",
                "value": "={{ $json.text }}"
              },
              {
                "name": "parse_mode",
                "value": "HTML"
              }
            ]
          },
          "options": {}
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Build Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Message": {
        "main": [
          [
            {
              "node": "Send Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    }
  },
  {
    "name": "CRM-2: Plan Yükseltme Bildirimi",
    "active": true,
    "nodes": [
      {
        "id": "f2a2b3c4-0002-0002-0002-000000000001",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          250,
          300
        ],
        "webhookId": "crm-plan-upgrade-v1",
        "parameters": {
          "httpMethod": "POST",
          "path": "crm/plan-upgrade",
          "responseMode": "onReceived",
          "options": {}
        }
      },
      {
        "id": "f2a2b3c4-0002-0002-0002-000000000002",
        "name": "Build Message",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          450,
          300
        ],
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              {
                "id": "b1",
                "name": "text",
                "value": "={{ '⬆️ <b>Plan Yükseltme!</b>\\n\\n👤 ' + $json.body.name + '\\n📧 ' + $json.body.email + '\\n📦 ' + $json.body.old_plan.toUpperCase() + ' → ' + $json.body.new_plan.toUpperCase() + '\\n\\n🔗 <a href=\"https://crm.otomaix.com/musteriler/' + $json.body.account_id + '\">CRM\\'de Görüntüle</a>' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "f2a2b3c4-0002-0002-0002-000000000003",
        "name": "Send Telegram",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          650,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot8604791076:AAGxu_XtypVCcr7fX1HxDlbIceRXbP_8JPY/sendMessage",
          "sendBody": true,
          "specifyBody": "keypair",
          "bodyParameters": {
            "parameters": [
              {
                "name": "chat_id",
                "value": "1634464595"
              },
              {
                "name": "text",
                "value": "={{ $json.text }}"
              },
              {
                "name": "parse_mode",
                "value": "HTML"
              }
            ]
          },
          "options": {}
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Build Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Message": {
        "main": [
          [
            {
              "node": "Send Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    }
  },
  {
    "name": "CRM-3: Ödeme Başarısız",
    "active": true,
    "nodes": [
      {
        "id": "f3a2b3c4-0003-0003-0003-000000000001",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          250,
          300
        ],
        "webhookId": "crm-payment-failed-v1",
        "parameters": {
          "httpMethod": "POST",
          "path": "crm/payment-failed",
          "responseMode": "onReceived",
          "options": {}
        }
      },
      {
        "id": "f3a2b3c4-0003-0003-0003-000000000002",
        "name": "Add Payment Tag",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          450,
          300
        ],
        "credentials": {
          "postgres": {
            "id": "1",
            "name": "PostgreSQL Otomaix"
          }
        },
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO crm.account_tags (account_id, tag, added_by) VALUES ('{{ $json.body.account_id }}', 'Ödeme Sorunu', 'n8n-otomatik') ON CONFLICT (account_id, tag) DO NOTHING",
          "options": {}
        }
      },
      {
        "id": "f3a2b3c4-0003-0003-0003-000000000003",
        "name": "Build Alert Message",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          650,
          300
        ],
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              {
                "id": "c1",
                "name": "text",
                "value": "={{ '⚠️ <b>Ödeme Başarısız!</b>\\n\\n👤 ' + $('Webhook').item.json.name + '\\n📧 ' + $('Webhook').item.json.email + '\\n📦 Plan: ' + $('Webhook').item.json.plan.toUpperCase() + '\\n\\n⚡ Etiket eklendi: Ödeme Sorunu\\n🔗 <a href=\"https://crm.otomaix.com/musteriler/' + $('Webhook').item.json.account_id + '\">CRM\\'de Görüntüle</a>' }}",
                "type": "string"
              },
              {
                "id": "c2",
                "name": "account_id",
                "value": "={{ $('Webhook').item.json.account_id }}",
                "type": "string"
              },
              {
                "id": "c3",
                "name": "email",
                "value": "={{ $('Webhook').item.json.email }}",
                "type": "string"
              },
              {
                "id": "c4",
                "name": "name",
                "value": "={{ $('Webhook').item.json.name }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "f3a2b3c4-0003-0003-0003-000000000004",
        "name": "Send Alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          850,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot8604791076:AAGxu_XtypVCcr7fX1HxDlbIceRXbP_8JPY/sendMessage",
          "sendBody": true,
          "specifyBody": "keypair",
          "bodyParameters": {
            "parameters": [
              {
                "name": "chat_id",
                "value": "1634464595"
              },
              {
                "name": "text",
                "value": "={{ $json.text }}"
              },
              {
                "name": "parse_mode",
                "value": "HTML"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "f3a2b3c4-0003-0003-0003-000000000005",
        "name": "Wait 2 Days",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1050,
          300
        ],
        "parameters": {
          "resume": "timeInterval",
          "amount": 2,
          "unit": "days"
        }
      },
      {
        "id": "f3a2b3c4-0003-0003-0003-000000000006",
        "name": "Build Reminder Message",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1250,
          300
        ],
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              {
                "id": "c5",
                "name": "text",
                "value": "={{ '🔔 <b>Ödeme Hatırlatması (2. gün)</b>\\n\\n👤 ' + $json.body.name + '\\n📧 ' + $json.body.email + '\\n\\nÖdeme sorunu hâlâ çözülmedi. Müşteri ile iletişime geçilmesi önerilir.\\n🔗 <a href=\"https://crm.otomaix.com/musteriler/' + $json.body.account_id + '\">CRM\\'de Görüntüle</a>' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "f3a2b3c4-0003-0003-0003-000000000007",
        "name": "Send Reminder",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1450,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot8604791076:AAGxu_XtypVCcr7fX1HxDlbIceRXbP_8JPY/sendMessage",
          "sendBody": true,
          "specifyBody": "keypair",
          "bodyParameters": {
            "parameters": [
              {
                "name": "chat_id",
                "value": "1634464595"
              },
              {
                "name": "text",
                "value": "={{ $json.text }}"
              },
              {
                "name": "parse_mode",
                "value": "HTML"
              }
            ]
          },
          "options": {}
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Add Payment Tag",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add Payment Tag": {
        "main": [
          [
            {
              "node": "Build Alert Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Alert Message": {
        "main": [
          [
            {
              "node": "Send Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Alert": {
        "main": [
          [
            {
              "node": "Wait 2 Days",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 2 Days": {
        "main": [
          [
            {
              "node": "Build Reminder Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Reminder Message": {
        "main": [
          [
            {
              "node": "Send Reminder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    }
  },
  {
    "name": "CRM-4: Churn Riski Taraması (Günlük)",
    "active": true,
    "nodes": [
      {
        "id": "f4a2b3c4-0004-0004-0004-000000000001",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          250,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 9 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "f4a2b3c4-0004-0004-0004-000000000002",
        "name": "Count Churn Risk",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          450,
          300
        ],
        "credentials": {
          "postgres": {
            "id": "1",
            "name": "PostgreSQL Otomaix"
          }
        },
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT COUNT(*)::int AS count FROM social.accounts a WHERE a.last_login_at < now() - interval '14 days' AND EXISTS (SELECT 1 FROM social.subscriptions s WHERE s.account_id = a.id AND s.status = 'active') AND NOT EXISTS (SELECT 1 FROM crm.account_tags t WHERE t.account_id = a.id AND t.tag = 'Churn Riski')",
          "options": {}
        }
      },
      {
        "id": "f4a2b3c4-0004-0004-0004-000000000003",
        "name": "Has Churn Risk?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          650,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "d1",
                "leftValue": "={{ $json.count }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "f4a2b3c4-0004-0004-0004-000000000004",
        "name": "Get & Tag Churn Accounts",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          850,
          200
        ],
        "credentials": {
          "postgres": {
            "id": "1",
            "name": "PostgreSQL Otomaix"
          }
        },
        "parameters": {
          "operation": "executeQuery",
          "query": "WITH churn_accounts AS (SELECT a.id, a.email, a.name, a.last_login_at FROM social.accounts a WHERE a.last_login_at < now() - interval '14 days' AND EXISTS (SELECT 1 FROM social.subscriptions s WHERE s.account_id = a.id AND s.status = 'active') AND NOT EXISTS (SELECT 1 FROM crm.account_tags t WHERE t.account_id = a.id AND t.tag = 'Churn Riski')), inserted AS (INSERT INTO crm.account_tags (account_id, tag, added_by) SELECT id, 'Churn Riski', 'n8n-otomatik' FROM churn_accounts ON CONFLICT (account_id, tag) DO NOTHING) SELECT id, email, name, last_login_at FROM churn_accounts ORDER BY last_login_at ASC",
          "options": {}
        }
      },
      {
        "id": "f4a2b3c4-0004-0004-0004-000000000005",
        "name": "Aggregate Accounts",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1050,
          200
        ],
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "accounts",
          "options": {}
        }
      },
      {
        "id": "f4a2b3c4-0004-0004-0004-000000000006",
        "name": "Build Churn Message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1250,
          200
        ],
        "parameters": {
          "jsCode": "const accounts = $json.accounts;\nconst count = accounts.length;\n\nlet lines = accounts.slice(0, 10).map((a, i) => {\n  const days = Math.floor((Date.now() - new Date(a.last_login_at).getTime()) / 86400000);\n  return `${i+1}. ${a.name || a.email} — ${days} gündür giriş yok`;\n});\n\nif (count > 10) lines.push(`... ve ${count - 10} kişi daha`);\n\nconst text = `⚠️ <b>Churn Riski Taraması</b>\\n\\n` +\n  `${count} müşteri 14+ gündür giriş yapmadı ve <b>Churn Riski</b> etiketi eklendi.\\n\\n` +\n  lines.join('\\n') +\n  `\\n\\n🔗 <a href=\"https://crm.otomaix.com/musteriler?etiket=Churn+Riski\">CRM'de Görüntüle</a>`;\n\nreturn [{ json: { text } }];"
        }
      },
      {
        "id": "f4a2b3c4-0004-0004-0004-000000000007",
        "name": "Send Churn Alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1450,
          200
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot8604791076:AAGxu_XtypVCcr7fX1HxDlbIceRXbP_8JPY/sendMessage",
          "sendBody": true,
          "specifyBody": "keypair",
          "bodyParameters": {
            "parameters": [
              {
                "name": "chat_id",
                "value": "1634464595"
              },
              {
                "name": "text",
                "value": "={{ $json.text }}"
              },
              {
                "name": "parse_mode",
                "value": "HTML"
              }
            ]
          },
          "options": {}
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Count Churn Risk",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Count Churn Risk": {
        "main": [
          [
            {
              "node": "Has Churn Risk?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Churn Risk?": {
        "main": [
          [
            {
              "node": "Get & Tag Churn Accounts",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Get & Tag Churn Accounts": {
        "main": [
          [
            {
              "node": "Aggregate Accounts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate Accounts": {
        "main": [
          [
            {
              "node": "Build Churn Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Churn Message": {
        "main": [
          [
            {
              "node": "Send Churn Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    }
  },
  {
    "name": "CRM-5: Deneme Süresi Bitiyor (Günlük)",
    "active": true,
    "nodes": [
      {
        "id": "f5a2b3c4-0005-0005-0005-000000000001",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          250,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 10 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "f5a2b3c4-0005-0005-0005-000000000002",
        "name": "Get Expiring Trials",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          450,
          300
        ],
        "credentials": {
          "postgres": {
            "id": "1",
            "name": "PostgreSQL Otomaix"
          }
        },
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT a.id, a.email, a.name, a.trial_ends_at FROM social.accounts a WHERE a.trial_ends_at IS NOT NULL AND a.trial_ends_at::date = (CURRENT_DATE + interval '2 days')::date AND NOT EXISTS (SELECT 1 FROM social.subscriptions s WHERE s.account_id = a.id AND s.status = 'active') ORDER BY a.trial_ends_at ASC",
          "options": {}
        }
      },
      {
        "id": "f5a2b3c4-0005-0005-0005-000000000003",
        "name": "Has Expiring Trials?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          650,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "e1",
                "leftValue": "={{ $items().length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "f5a2b3c4-0005-0005-0005-000000000004",
        "name": "Aggregate Trials",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          850,
          200
        ],
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "trials",
          "options": {}
        }
      },
      {
        "id": "f5a2b3c4-0005-0005-0005-000000000005",
        "name": "Build Trial Message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1050,
          200
        ],
        "parameters": {
          "jsCode": "const trials = $json.trials;\nconst count = trials.length;\n\nlet lines = trials.map((t, i) => {\n  const endDate = new Date(t.trial_ends_at).toLocaleDateString('tr-TR');\n  return `${i+1}. ${t.name || t.email} — bitiş: ${endDate}`;\n});\n\nconst text = `📅 <b>Deneme Süresi Bitiyor</b>\\n\\n` +\n  `${count} hesabın deneme süresi <b>2 gün içinde</b> sona eriyor.\\n\\n` +\n  lines.join('\\n') +\n  `\\n\\n💡 Upgrade e-postası gönderilmesi önerilir.\\n🔗 <a href=\"https://crm.otomaix.com/musteriler\">CRM Müşteri Listesi</a>`;\n\nreturn [{ json: { text } }];"
        }
      },
      {
        "id": "f5a2b3c4-0005-0005-0005-000000000006",
        "name": "Send Trial Alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1250,
          200
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot8604791076:AAGxu_XtypVCcr7fX1HxDlbIceRXbP_8JPY/sendMessage",
          "sendBody": true,
          "specifyBody": "keypair",
          "bodyParameters": {
            "parameters": [
              {
                "name": "chat_id",
                "value": "1634464595"
              },
              {
                "name": "text",
                "value": "={{ $json.text }}"
              },
              {
                "name": "parse_mode",
                "value": "HTML"
              }
            ]
          },
          "options": {}
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get Expiring Trials",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Expiring Trials": {
        "main": [
          [
            {
              "node": "Has Expiring Trials?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Expiring Trials?": {
        "main": [
          [
            {
              "node": "Aggregate Trials",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Aggregate Trials": {
        "main": [
          [
            {
              "node": "Build Trial Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Trial Message": {
        "main": [
          [
            {
              "node": "Send Trial Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    }
  },
  {
    "name": "CRM-6: Aylık Gelir Raporu",
    "active": true,
    "nodes": [
      {
        "id": "f6a2b3c4-0006-0006-0006-000000000001",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          250,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 9 1 * *"
              }
            ]
          }
        }
      },
      {
        "id": "f6a2b3c4-0006-0006-0006-000000000002",
        "name": "Get Monthly Metrics",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          450,
          300
        ],
        "credentials": {
          "postgres": {
            "id": "1",
            "name": "PostgreSQL Otomaix"
          }
        },
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT (SELECT COUNT(*) FROM social.accounts WHERE created_at >= date_trunc('month', now() - interval '1 month') AND created_at < date_trunc('month', now())) AS new_customers, (SELECT COUNT(*) FROM social.subscriptions WHERE status = 'cancelled' AND updated_at >= date_trunc('month', now() - interval '1 month') AND updated_at < date_trunc('month', now())) AS churned, (SELECT COALESCE(SUM(CASE WHEN a.plan_id = 'starter' THEN 499 WHEN a.plan_id = 'pro' THEN 999 WHEN a.plan_id = 'business' THEN 2499 WHEN a.plan_id = 'agency' THEN 4999 ELSE 0 END), 0) FROM social.accounts a JOIN social.subscriptions s ON s.account_id = a.id WHERE s.status = 'active') AS mrr, (SELECT COUNT(*) FROM social.accounts a JOIN social.subscriptions s ON s.account_id = a.id WHERE s.status = 'active') AS active_customers, (SELECT COUNT(*) FROM social.accounts) AS total_accounts, (SELECT COUNT(*) FROM social.posts WHERE created_at >= date_trunc('month', now() - interval '1 month') AND created_at < date_trunc('month', now())) AS posts_last_month",
          "options": {}
        }
      },
      {
        "id": "f6a2b3c4-0006-0006-0006-000000000003",
        "name": "Build Monthly Report",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          650,
          300
        ],
        "parameters": {
          "jsCode": "const d = $json;\nconst mrr = parseInt(d.mrr) || 0;\nconst arpu = d.active_customers > 0 ? Math.round(mrr / parseInt(d.active_customers)) : 0;\nconst churnRate = d.active_customers > 0 ? ((parseInt(d.churned) / parseInt(d.active_customers)) * 100).toFixed(1) : '0';\n\nconst lastMonth = new Date();\nlastMonth.setMonth(lastMonth.getMonth() - 1);\nconst monthName = lastMonth.toLocaleDateString('tr-TR', { year: 'numeric', month: 'long' });\n\nconst text = `📊 <b>${monthName} Aylık Raporu</b>\\n\\n` +\n  `👥 Aktif Müşteri: ${d.active_customers}\\n` +\n  `🆕 Yeni Müşteri: ${d.new_customers}\\n` +\n  `📉 Churn: ${d.churned} (${churnRate}%)\\n\\n` +\n  `💰 MRR: ₺${mrr.toLocaleString('tr-TR')}\\n` +\n  `📈 ARPU: ₺${arpu.toLocaleString('tr-TR')}\\n\\n` +\n  `📝 Üretilen İçerik: ${d.posts_last_month}\\n` +\n  `🏷️ Toplam Kayıt: ${d.total_accounts}\\n\\n` +\n  `🔗 <a href=\"https://crm.otomaix.com/raporlar\">Detaylı Rapor</a>`;\n\nreturn [{ json: { text } }];"
        }
      },
      {
        "id": "f6a2b3c4-0006-0006-0006-000000000004",
        "name": "Send Monthly Report",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          850,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot8604791076:AAGxu_XtypVCcr7fX1HxDlbIceRXbP_8JPY/sendMessage",
          "sendBody": true,
          "specifyBody": "keypair",
          "bodyParameters": {
            "parameters": [
              {
                "name": "chat_id",
                "value": "1634464595"
              },
              {
                "name": "text",
                "value": "={{ $json.text }}"
              },
              {
                "name": "parse_mode",
                "value": "HTML"
              }
            ]
          },
          "options": {}
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get Monthly Metrics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Monthly Metrics": {
        "main": [
          [
            {
              "node": "Build Monthly Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Monthly Report": {
        "main": [
          [
            {
              "node": "Send Monthly Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    }
  }
]