shared/n8n-workflows/scheduled-post-publisher.json
{
  "name": "Scheduled Post Publisher",
  "nodes": [
    {
      "id": "trigger",
      "name": "Her 5 Dakika",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      }
    },
    {
      "id": "fetch-due",
      "name": "Zamanı Gelen Postlar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "https://api.otomaix.com/internal/posts/scheduled-due",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "nFP1FbcwkIw8n9SS",
          "name": "Otomaix Internal API Key"
        }
      }
    },
    {
      "id": "check-has-due",
      "name": "Post Var mı?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.data.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "fanout",
      "name": "Her Post İçin Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        -80
      ],
      "parameters": {
        "jsCode": "const posts = $input.first().json.data || [];\nreturn posts.map(p => ({ json: p }));"
      }
    },
    {
      "id": "publish",
      "name": "Yayınla",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -80
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "=https://api.otomaix.com/posts/{{ $json.post_id }}/publish-now",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "nFP1FbcwkIw8n9SS",
          "name": "Otomaix Internal API Key"
        }
      }
    },
    {
      "id": "no-posts",
      "name": "Post Yok",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        660,
        120
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Her 5 Dakika": {
      "main": [
        [
          {
            "node": "Zamanı Gelen Postlar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zamanı Gelen Postlar": {
      "main": [
        [
          {
            "node": "Post Var mı?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Var mı?": {
      "main": [
        [
          {
            "node": "Her Post İçin Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Yok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Her Post İçin Item": {
      "main": [
        [
          {
            "node": "Yayınla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Istanbul",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
