shared/n8n-workflows/trends-nightly-sweep.json
{
  "name": "Trends Nightly Sweep",
  "nodes": [
    {
      "id": "trigger",
      "name": "Her Gece 06:00 TR",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "sweep",
      "name": "Layer A Sweep",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.otomaix.com/internal/trends/nightly-sweep",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {
          "timeout": 900000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "nFP1FbcwkIw8n9SS",
          "name": "Otomaix Internal API Key"
        }
      }
    },
    {
      "id": "check-errors",
      "name": "Hata Var mı?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ ($json.data.errors || []).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "notify-error",
      "name": "Telegram Hata Bildirimi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -80
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.N8N_ALERT_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.N8N_ALERT_CHAT_ID }}\",\n  \"text\": \"⚠️ Trends Nightly Sweep: {{ $json.data.processed }}/{{ $json.data.total_sectors }} sektör işlendi. Hatalar: {{ ($json.data.errors || []).join(', ') }}\"\n}",
        "options": {}
      }
    },
    {
      "id": "ok",
      "name": "OK",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        720,
        120
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Her Gece 06:00 TR": {
      "main": [
        [
          {
            "node": "Layer A Sweep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Layer A Sweep": {
      "main": [
        [
          {
            "node": "Hata Var mı?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hata Var mı?": {
      "main": [
        [
          {
            "node": "Telegram Hata Bildirimi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Istanbul",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
